@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto", sans-serif;
    font-style: normal;
}
.main{
    display: block;
}

p{
    font-size: 16px;
    color: hsl(235, 18%, 26%);
    font-weight: 400;
    letter-spacing: -1px;
}

img{
    max-width: 100% !important;
}

li{
    list-style-type: none;
    margin-top: 5px;
    padding: 0.5rem 0;
    color: hsl(235, 18%, 26%);
    font-weight: 400;
    letter-spacing: -1px;
}

h1{
    color: hsl(234, 29%, 20%);
    margin: 15px 0;
}

h2{
    font-size: 2.5rem;
    letter-spacing: -1px;
    color: hsl(234, 29%, 20%);
    font-weight: 800;
}

.subs{
    display: block;
}

ul{
    margin-bottom: 20px;
}

.list-item{
    display: flex;
    gap: 1rem;
}

.list-item img{
    width: 20px;
}

.content{
    padding: 1.5rem;
}


.active-subscribed{
    display: block !important;
}

.hide-main{
    display: none;
}

form label{
    color: hsl(234, 29%, 20%);
    letter-spacing: -1px;
    font-weight: 500;
}

form label,
 form input{
    display: block;
 }

 form input,
 .btn{
    width: 100%;
 }

 form input{
    border: 1px solid hsl(231, 7%, 60%);
    outline: none;
    border-radius: 5px;
    padding: .5rem .9rem;
 }

.label{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 .error-state{
    display: none;
    font-size: .7rem;
    font-weight: 600;
    color: hsl(15, 100%, 49%);
 }

 .add-error{
    display: block;
 }

 .add-email-error{
    border: 1px solid hsl(15, 100%, 49%);
    color: hsl(15, 100%, 49%);
    background-color: rgba(201, 122, 122, 0.639);
 }

 .btn{
    margin: 15px 0;
    background-color: hsl(234, 29%, 20%);
    border-radius: 5px;
    border: none;
    color: hsl(0, 0%, 100%);
    letter-spacing: -.5px;
    font-weight: 700;
    padding: .8rem 1rem;
    cursor: pointer;
 }



 .sub-section{
    display: none;
    padding: 1.5rem;
    margin-top: 50px;   
 }

 #subscribed-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20rem;
 }


 .subscribed{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
 }

 .success .btn{
    text-align: center;
 }

 .text p{
    padding: 1.5rem 0;
 }

 .span-mail{
    color: hsl(234, 29%, 20%);
    font-weight: 800;
 }

 @media screen and (min-width: 768px) {
    body{
        background-color: hsl(235, 18%, 26%);
        display: grid;
        place-content: center;
        min-height: 100vh;
    }

    main,.sub-section{
        background-color: hsl(0, 0%, 100%);
        padding: 1rem;
        border-radius: 10px;
    }

    .main{
        display: flex !important;
        flex-direction: row-reverse;
    }

    .sub-section{
        background-color: hsl(0, 0%, 100%);
    }

    .hide-main {
        display: none !important;
    }

    main img{
        width: 300px;
    }

    header h1{
        margin-top: 50px;
    }

    .sub-btn{
        background: linear-gradient(to right, hsl(0, 82%, 62%), hsl(20, 100%, 62%));
    }

    .sub-section{
        width: 50%;
        margin: 0 auto;
    }

    #subscribed-section{
        gap: 1rem;
    }
 }
                